<div class="container-fluid home">
    <h1>Lavoro</h1>
    <div class="row section text-center">
        <div class="col-sm-4">Students</div>
        <div class="col-sm-4">Company</div>
        <div class="col-sm-4">
            <div class="login">
                <h3>Login</h3>
                <form [formGroup]="form" (ngSubmit)="submit(form.value)">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" formControlName="email">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" formControlName="password">
                    </div>
                    <button>Login</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row section">
    </div>
    <div class="row section">

    </div>
</div>