<div class="row foot">
  <div class="col-sm-3">
      <div class="container">
          <p class="foot-heading">
              <i class="fas fa-map-marker"></i> Address :</p>
          <p>1st Avenue</p>
          <p>Gaur City 1</p>
          <p>Sector 4</p>
          <p>Noida Extention</p>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="container">
          <p class="foot-heading">
              <i class="fas fa-download"></i> Download :</p>
          <p class="underline">Brochure</p>
          <p class="underline">Benefits</p>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="container">
          <p class="foot-heading"><i class="fas fa-handshake"></i> Partners :</p>
          <p class="underline">SoftifyIt</p>
          <p class="underline">RKGIT</p>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="container">
          <p class="foot-heading"><i class="fas fa-phone"></i> Contact :</p>
          <p class="underline"><i class="fas fa-plus-circle"></i> India</p>
          <p class="underline"><i class="fas fa-envelope-square"></i> Email: info@lavoro.co.in</p>
      </div>
  </div>
</div>