.head{
    background: #dfe6e9;
    padding: 25px 0 25px 0;
    position: fixed;
    top:0;
    width: 100%;
}
.logo-lavoro{
    margin: 0 5% 0 50%;
    height: 80px;
}
.logo{
    width: 160px;
}
.navbar-links>.wrapper>ul>li{
    display:block;
    float: right;
    padding: 5px 5px 5px 5px;
    margin: 0 10px 0 10px;
    border-radius:5%;
    font-weight: 600;
    color: #57606f;
}

.navbar-links>.wrapper>ul>li:hover{
    /* background:#81ecec; */
    cursor: pointer; 
}
.active{
    /* background:#81ecec; */
}
.navbar-links>wrapper>ul{ 
    overflow: hidden;
    clear: both;  
}
 
.navbar-links{
    width: calc(100% - 160px);
}
.nav-link{
    font-size: 0.9em;
}
