<div class="row head">
  <div class="logo">
    <img src="assets/lavoro.png" alt="" class="logo-lavoro">
  </div>
  <div class="navbar-links">
    <div class="wrapper">
    <ul>
      <li routerLink="/register" routerLinkActive="active"><i class="fas fa-user-plus"></i> Sign Up</li>
      <li routerLink="/contact-us" routerLinkActive="active"><i class="fas fa-phone"></i> Contact Us</li>
      <li routerLink="/about-us" routerLinkActive="active"><i class="fas fa-users"></i> About Us</li>
      <li routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i> Home</li>
    </ul>
    </div>
  </div>
</div>