.head{
    background: #dfe6e9;
    padding: 25px 0 25px 0;
}
.logo-lavoro{
    margin: 0 5% 0 50%;
    height: 80px;
}
.logo{
    width: 160px;
}
.navbar-links>.wrapper>ul>li{
    display: inline-block;
    float: right;
    padding: 5px 5px 5px 5px;
    border: 1px solid #81ecec;
    margin: 0 10px 0 10px;
    border-radius:5%;
    font-weight: 600;
    color: #57606f;
}
.navbar-links>.wrapper>ul>li:active{
    box-shadow: none;
}

.navbar-links>.wrapper>ul>li:hover{
    background:#81ecec;
    cursor: pointer; 
}
.navbar-links>wrapper>ul{ 
    overflow: hidden;
    clear: both;  
}
 
.navbar-links{
    width: calc(100% - 160px);
}